/* *{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
} */

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
   color: white;
   height: 100vh;
}


.login {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: white;
  background-color: black;
  padding: 50px;
  
  box-shadow: 5px 5px 10px rgb(220, 242, 250);
  width: 400px;
  display: flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {

  padding:5px;
  font-size: 35px;
  color:white;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
:global(label) {
    font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}


:global(input){
  width: 100%;
  padding: 10px 20px;

  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  
}
.submit{
  width: 50%;
  padding: 10px;
  background-color: white;
  border: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
 
}

button.submit:hover {
  background-color: #beddfc;
}
