.data {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 50px;
  padding: 30px;
  background: #000; 
}
.filter li{
  color:white;
  padding-left:25px ;
list-style: none;
font-size: 28px;
font-family: Arial, Helvetica, sans-serif;

}
.filter{
  display: flex;
  justify-content: center;
}
.box {
  background: #111; 
  border: 2px solid #2da09b;
  padding: 20px;
  border-radius: 14px;
  color:white;

}

.box:hover {
  transform: translateY(-5px) scale(1.02);
  border-color: #2da09b;
  box-shadow: #2da09b;
}

.box h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.box p {
  font-size: 14px;
  margin: 4px 0;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}


