.data {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 30px;
  background: #000; 
}

.box {
  background: #111; 
  border: 1px solid #222;
  padding: 20px;
  border-radius: 14px;
  color:white;

}

.box:hover {
  transform: translateY(-5px) scale(1.02);
  border-color: white;
  box-shadow: white;
}

.box h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #f2f2f2;
}

.box p {
  font-size: 14px;
  margin: 4px 0;
  color: #bfbfbf;
}


