
.main {
  width: 100%;
  background-color: black;
  height: 100vh;
 }

.navber {
  display: flex;
  justify-content: space-between;   align-items: center;
  padding: 15px 25px;
}

.logo {
  
  font-weight: bold;
  border-right: 5px solid #2da09b;
  margin: 0;
  padding: 0;
 
}

.points {
  display: flex;
  list-style: none;
  justify-content: center;
 
  margin: 20px;

}

.points li {
  margin-left: 25px;
  
  font-size: 25px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;

}

.points li:hover {
  color:#2da09b; 
}



.main button {
  color:#2da09b;
  font-weight: bolder;
 border: none;
  font-size: 20px;
  padding: 20px;
  background-color: black
 
;
}
.main button :hover{
  color:  white;
}
.btn{
  padding: 20px;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #555;
}


.spinner::before {
  content: "";
  width: 100px;
  height: 100px;
  border: 10px solid #ddd;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-bottom: 8px;
}

/* Text animation (dots) */
.spinner {
  animation: textPulse 1.5s infinite;
}

/* Rotation Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Text pulse animation */
@keyframes textPulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
